[submodule "neuronek-cli"]
	path = application-software/neuronek/cli
	url = https://github.com/keinsell/neuronek-cli
[submodule "neuronek-desktop"]
	path = application-software/neuronek/desktop
	url = https://github.com/keinsell/neuronek-desktop
[submodule "bikeramp"]
	path = application-software/bikeramp
	url = https://github.com/keinsell/bikeramp
[submodule "dotfiles"]
    path = .dotfiles
	url = https://github.com/keinsell/dotfiles
