---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
    text: string;
};

const { href, text, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a 
    href={href} 
    class:list={[
        "btn btn-ghost text-sm font-medium transition-colors",
        { "bg-accent text-accent-foreground": isActive },
        className
    ]} 
    {...props}
>
    {text}
</a>